
.myCanvas {
    position: relative;
    left: 10%;
    top: 10%;

    background-color: aliceblue;
}

.myBody {
    position: relative;
    height: 100%;
    width: 100%;
}

.myButton {
    position: absolute;
    left: 90%;
    top: 10%;
    background-color: aqua;
}
